.container {
    border: 1px solid seagreen;
    background-color: rgba(0, 0, 0.5, 0.08);
    border-radius: 2px;
    padding: 1em 0.6em;
}

.stack-container {
    background-color: rgba(0, 0, 0, 0.08);
}

.stack-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.6em;
}

.surface-overlay {
    position: absolute;
    top: 4px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 12px;
    pointer-events: none;
    z-index: 1000;
}

.surface-overlay code {
    background-color: rgba(255, 255, 255, 0.2);
    padding-inline: 2px;
    border-radius: 2px;
}

.surface-focused {
    border: 1px solid #0366d6;
    border-radius: 4px;
}

.surface-wrapper {
    position: relative;
}

.card {
    font-size: 14px;
    color: #24292e;
}

/* Utilities */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.gap-2 {
    gap: 2px;
}
